In [1]:
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine, text, inspect
from sqlalchemy.exc import IntegrityError
import pymysql
import os
from dotenv import load_dotenv
load_dotenv()
pymysql.install_as_MySQLdb()

In [4]:
# 1. MySQL 데이터베이스 연결 정보
db_host = os.environ.get("DB_HOST")
db_user = os.environ.get("DB_USER")
db_password = os.environ.get("DB_PASSWORD")
db_name =  os.environ.get("DB_name")
table_name = "stock_prices"
engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

In [6]:
stock_info = pd.read_sql("stock_company_info", con=engine)
stock_info

,종목코드,회사명,주식종목,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,331740,아우토크립트,코스닥,소프트웨어 개발 및 공급업,자동차 사이버보안 소프트웨어 및 솔루션,2025-07-15,12월,이석우,http://autocrypt.co.kr/,서울특별시
1,0030R0,대신밸류리츠,유가증권,신탁업 및 집합투자업,부동산 임대,2025-07-10,08월,김광진,http://www.daishinvaluereit.com/,서울특별시
2,462310,뉴키즈온,코스닥,봉제의복 제조업,유아동용 의복,2025-07-09,12월,주춘섭,http://newkidson.com,서울특별시
3,234030,싸이닉솔루션,코스닥,반도체 제조업,"ASIC, ASSP, 용역, 상품 등",2025-07-07,12월,이현,http://www.synic.co.kr/,경기도
4,0037T0,KB제32호스팩,코스닥,금융 지원 서비스업,기업인수합병,2025-07-04,12월,김세준,,서울특별시
...,...,...,...,...,...,...,...,...,...,...
2754,000100,유한양행,유가증권,의약품 제조업,"의약품(삐콤씨, 안티푸라민, 렉라자, 로수바미브, 코푸시럽 등), 생활용품(유한락스...",1962-11-01,12월,대표이..,http://www.yuhan.co.kr,서울특별시
2755,000120,CJ대한통운,유가증권,도로 화물 운송업,"Contract Logistics, 포워딩, 항만하역, 해운, 택배국제특송, SCM...",1956-07-02,12월,신영수..,http://www.cjlogistics.com,서울특별시
2756,000050,경방,유가증권,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준,..",http://www.kyungbang.co.kr,서울특별시
2757,000700,유수홀딩스,유가증권,회사 본부 및 경영 컨설팅 서비스업,지주사업,1956-03-03,12월,송영규,http://www.eusu-holdings.com,서울특별시
2758,003480,한진중공업홀딩스,유가증권,연료용 가스 제조 및 배관공급업,지주회사,1956-03-03,12월,조원국,http://www.hhic-holdings.com,경기도

In [5]:
data = pd.read_sql(table_name, con=engine)
data

,stock_code,trade_date,open,high,low,close,adj_close,volume
0,000020,2023-07-17,9665.85,9808.98,9541.81,9808.98,9808.98,93975
1,000020,2023-07-18,9818.52,9818.52,9475.02,9541.81,9541.81,142661
2,000020,2023-07-19,9618.14,9885.31,9494.10,9761.27,9761.27,136784
3,000020,2023-07-20,9761.27,9875.77,9675.39,9694.48,9694.48,60569
4,000020,2023-07-21,9742.19,10009.36,9713.56,9780.35,9780.35,100507
...,...,...,...,...,...,...,...,...
1210338,499790,2025-07-10,41400.00,44550.00,41050.00,42800.00,42800.00,362423
1210339,499790,2025-07-11,42950.00,44450.00,42150.00,42650.00,42650.00,221627
1210340,499790,2025-07-14,43400.00,46500.00,43200.00,44750.00,44750.00,290889
1210341,499790,2025-07-15,44600.00,46350.00,43450.00,43800.00,43800.00,111557
1210342,499790,2025-07-16,43850.00,45050.00,43450.00,44150.00,44150.00,21116

In [9]:
engine.dispose()

In [10]:
mged_data = pd.merge(data, stock_info[['종목코드', '회사명', '주식종목']], how='inner', left_on='stock_code', right_on='종목코드')
mged_data

,stock_code,trade_date,open,high,low,close,adj_close,volume,종목코드,회사명,주식종목
0,000020,2023-07-17,9665.85,9808.98,9541.81,9808.98,9808.98,93975,000020,동화약품,유가증권
1,000020,2023-07-18,9818.52,9818.52,9475.02,9541.81,9541.81,142661,000020,동화약품,유가증권
2,000020,2023-07-19,9618.14,9885.31,9494.10,9761.27,9761.27,136784,000020,동화약품,유가증권
3,000020,2023-07-20,9761.27,9875.77,9675.39,9694.48,9694.48,60569,000020,동화약품,유가증권
4,000020,2023-07-21,9742.19,10009.36,9713.56,9780.35,9780.35,100507,000020,동화약품,유가증권
...,...,...,...,...,...,...,...,...,...,...,...
1210338,499790,2025-07-10,41400.00,44550.00,41050.00,42800.00,42800.00,362423,499790,GS피앤엘,유가증권
1210339,499790,2025-07-11,42950.00,44450.00,42150.00,42650.00,42650.00,221627,499790,GS피앤엘,유가증권
1210340,499790,2025-07-14,43400.00,46500.00,43200.00,44750.00,44750.00,290889,499790,GS피앤엘,유가증권
1210341,499790,2025-07-15,44600.00,46350.00,43450.00,43800.00,43800.00,111557,499790,GS피앤엘,유가증권
1210342,499790,2025-07-16,43850.00,45050.00,43450.00,44150.00,44150.00,21116,499790,GS피앤엘,유가증권